body{
        margin:0;
        font-family:Arial, Helvetica, sans-serif;
    }

    .page{
        height:100vh;
        background:aqua;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .card{
        width:250px;
        background:white;
        padding:20px;
        border-radius:10px;
        text-align:center;
        box-shadow:0 0 10px gray;
    }

    img{
        width:120px;
        height:120px;
        border-radius:50%;
        object-fit:cover;
        border:3px solid blue;
    }

    h2{
        margin:15px 0 5px;
    }

    p{
        color:gray;
    }

    button{
        margin-top:15px;
        padding:8px 15px;
        border:none;
        background:blue;
        color:white;
        border-radius:5px;
        cursor:pointer;
    }

    button:hover{
        background:darkblue;
    }